.mat-elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(255,255,255,.2), 0 6px 10px 0 rgba(255,255,255,.10), 0 1px 18px 0 rgba(0,0,0,.12);
  position: fixed;
  z-index: 998;
}

.transparent {
 transition: all ease 0.5s;
 background: transparent !important;
}

.white {
  transition: all ease 0.5s;
  background: white;
}

.vertical-middle {
  vertical-align: middle;
}

.nav-menu {
  display: inline-flex;
  height: 62px;
  margin: 0 !important;
  padding: 0;
  list-style: none;
  float: right;
}

.menu-center {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.mb-10 {
  margin-bottom: 10px;
}

.nav-menu li {
  padding: 12px;
  margin: 5px;
  font-family: 'Open Sans', 'Raleway', sans-serif;
  font-size: 16px;
  float: right;
}

.transparent div section .nav-menu li {
  color: #fff;
}

.transparent div section .nav-menu li>a {
  text-decoration: none;
  color: #fff;
}

.white div section .nav-menu li {
  color: #7e7e7e;
}

.white div section .nav-menu li>a {
  text-decoration: none;
  color: #7e7e7e;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

.nav-menu>li>a:hover,
.nav-menu>li>a:active {
  cursor: pointer;
  text-decoration: none;
  color: #ff6f00 !important;
}

.icons-menu {
  margin-right: 5px;
  vertical-align: bottom;
}

.mat-icon-button {
  height: 30px;
}

.slide-cart-icon:hover {
  cursor: pointer;
  color: #ff6f00;
}

.toolbar-login {
 position: relative;
}

.open {
  background-color: #ff6f00;
}

.profileMenu:hover {
  color: #ff6f00;
  cursor: pointer;
}

.downArrowIcon {
  margin: 0;
}

.arrowRotated {
  transform: rotate(180deg);
}