<section class="form-login">
    <div class="login-title">
        {{ 'LOGIN.TITLE' | translate }}
    </div>
    <!-- <mat-hint class="genericErrorHint errorCard" *ngIf="genericError">{{ emailError }}</mat-hint> -->
    <div class="field-login">
        <section class="password__container" [@exceededAttempts]='state'>
            <div class="password__inner">
                <span class="password__span">{{ 'LOGIN.EXCEEDED-ATTEMPTS' | translate }}</span>
                <button class="password__button" (click)="toggleState()">{{ 'LOGIN.RECOVER-PASSWORD' | translate }}</button>
            </div>
        </section>
        <mat-hint class="genericErrorHint errorCard" *ngIf="genericError">{{ genericError }}</mat-hint>

        <!-- Seção de Mensagem de Confirmação após enviar e-mail de recuperação de senha -->
        <section class="confirm-reset__container" [ngClass]="{'active': recoverPasswordWindow}">
            <div class="confirm-reset__innercontainer">
                <span class="confirm-reset__message">
                    {{ 'LOGIN.INSTRUCTIONS' | translate }}
                </span>
            </div>
        </section>

        <!-- Seção de recuperação de senha -->
        <section class="password__rec_container" [@passwordRecovery]='state'>
            <div class="password__rec_container">
                <mat-icon class="arrowBack-icon bounce" (click)="closePopup()" matPrefix>arrow_back</mat-icon>
                <span class="password__rec_span">{{ 'LOGIN.RECOVER-INSTRUCTIONS' | translate }}</span>

                <form [formGroup]="recoveryPasswordForm" (ngSubmit)="passwordRecovery(recoveryPasswordForm)">
                    <mat-form-field class="login-page--recovery-password">
                        <input matInput placeholder="{{ 'LOGIN.DOCUMENT-EMAIL' | translate }}" formControlName="emailRecovery">
                        <mat-icon matPrefix>mail_outline</mat-icon>
                        <mat-error>{{ 'LOGIN.MAIL-ERROR' | translate }}</mat-error>
                        <mat-hint class="errorCard" *ngIf="emailError">{{ emailError }}</mat-hint>
                        <mat-hint class="errorCard" *ngIf="errorGettingEmail">{{ errorRequestResetPass }}</mat-hint>
                    </mat-form-field>
                    <button class="password__rec_button enabled" type="submit" *ngIf="isLoading"><app-loading-spinner></app-loading-spinner></button>
                    <button class="password__rec_button" type="submit" [ngClass]="recoveryPasswordForm.valid ? 'enabled' : 'disabled'" *ngIf="!isLoading">{{ 'LOGIN.RECOVER-PASSWORD' | translate }}</button>
                </form>
            </div>
        </section>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="{{ 'LOGIN.DOCUMENT-EMAIL' | translate }}" formControlName="emailOrCPF">
                <mat-icon matPrefix>mail_outline</mat-icon>
                <mat-error>{{ 'LOGIN.MAIL-AND-CPF-ERROR' | translate }}</mat-error>
                <mat-hint class="errorCard" *ngIf="emailError">{{ emailError }}</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input #passwordCostumer matInput placeholder="{{ 'LOGIN.PASSWORD' | translate }}" formControlName="password" type="password">
                <mat-icon matPrefix>lock_open</mat-icon>
                <mat-icon class="show-password" matSuffix (click)="showPassword($event)">visibility_off
                </mat-icon>
                <mat-error *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">{{ 'LOGIN.PASSWORD-ERROR' | translate }}</mat-error>
                <mat-hint class="errorCard" *ngIf="errorPassword">{{ errorPassword }} {{ 'LOGIN.RECOVER-MESSAGE' | translate }}</mat-hint>
            </mat-form-field>
            <section class="lost-password"><a (click)="toggleState()">{{ 'LOGIN.FORGOT-PASSWORD-OR-EMAIL' | translate }}</a></section>
            <button class="btn-login enabled" type="submit" *ngIf="isLoading"><app-loading-spinner></app-loading-spinner></button>
            <button class="btn-login" type="submit" [ngClass]="loginForm.valid ? 'enabled' : 'disabled'" *ngIf="!isLoading">{{ 'LOGIN.LOGIN' | translate }}</button>
        </form>
        <section class="social-buttons">
            <!-- <section class="facebook"> -->
                
                <button (click)="socialSignIn('facebook')" class="social-media-btn facebook"><span class="icon-facebook"></span>{{ 'SOCIAL-MEDIA.FACEBOOK' | translate }}</button>
            <!-- </section> -->
            <!-- <section class="google"> -->
                <button (click)="socialSignIn('google')" class="social-media-btn google"><span class="icon-google"></span>{{ 'SOCIAL-MEDIA.GOOGLE' | translate }}</button> 
            <!-- </section> -->
        </section>
    </div>
    <div class="new-register">
        {{ 'LOGIN.NEW-ON-THE-PLATFORM' | translate }} <a [routerLink]="['/cadastro']" class="signup_btn">{{ 'ACTIONS.SIGNUP' | translate }}</a>
    </div>
</section>
