
<!-- <mat-progress-bar mode="buffer" [ngStyle]="{'visibility':statusProgressBar==true ? 'visible' : 'hidden'}">
</mat-progress-bar> -->

<div *ngIf="!events" class="container-not-events">
    <mat-error>{{ 'ERRORS.NOT-FOUND-SEARCH-EVENT' | translate }}</mat-error>
</div>

<section class="section-cards">
    <ng-template ngFor let-event [ngForOf]="events">
        <mat-card class="card">
            <div class="event-hover" *ngIf="!event.sold_off">
                <!-- <i class="fas fa-heart"></i> -->
                <span class="icons-card fav-event" matTooltip="{{ 'PORTAL.CARDS.FAVORITE' | translate }}"
                    (click)='addFavorite(event)' (click)="favEvent(event.reference)">
                    <mat-icon matPrefix>{{event.favorite == true ? 'favorite' : 'favorite_border'}}</mat-icon>
                </span>
                <span class="icons-card share-event" matTooltip="{{ 'PORTAL.CARDS.SHARE' | translate }}"
                    (click)="shareEvent(event.reference)">
                    <mat-icon matPrefix>share</mat-icon>
                </span>
                <span class="icons-card cart-event" matTooltip="{{ 'PORTAL.CARDS.CART' | translate }}"
                    (click)='addEvent(event)'>
                    <mat-icon matPrefix>add_shopping_cart</mat-icon>
                </span>
            </div>
            <section class="shopping-cart-itens">
                <img mat-card-image src="{{ event.thumb }}" alt="{{ event.event }}">
                <div class="event-soldoff" *ngIf="event.sold_off">
                    {{'EVENTS.SOLDOFF' | translate}}
                </div>
                <div *ngIf="event.sold_off; else elseBlock">
                    <mat-card-content class="about-event" routerLinkActive="router-link-active"
                        (click)="moreInfo(event.url)">
                        <a (click)="soldOffEvent()">
                            <section class="event-name">
                                {{ event.event }}
                            </section>
                            <section class="event-location event-card">
                                <span>{{ event.location }}</span>
                            </section>
                        </a>
                    </mat-card-content>
                </div>
                <ng-template #elseBlock>
                    <mat-card-content class="about-event" routerLinkActive="router-link-active"
                        (click)="moreInfo(event.url)">
                        <section class="event-name">
                            {{ event.event }}
                        </section>
                        <section class="event-location event-card">
                            <span>{{ event.location }}</span>
                        </section>
                    </mat-card-content>
                </ng-template>
            </section>
        </mat-card>
    </ng-template>
</section>