mat-toolbar.mat-toolbar {
  float: left;
  z-index: 1;
  background-color: transparent;
}

mat-card.mat-card {
  margin-top: 60px;
  min-height: 200px;
  z-index: -1;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: table;
  box-sizing: border-box;
  padding: 0;
  width: auto;
  flex-direction: initial;
  align-items: center;
  white-space: normal;
  max-width: 130px;
  margin: 0 auto;
}

.profile-img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

mat-toolbar-row:hover {
  cursor: pointer;
}

mat-toolbar-row:hover>.profile-img {
  filter: blur(2px);
}

mat-card-content.mat-card-content {
  padding-top: 50px;
  text-align: center;
}

.mat-card-content .office {
  padding: 4px;
  color: #999;
  font-size: .75rem;
}

.mat-card-content .user-name {
  color: #383838;
  font-size: 1.125rem;
  line-height: 1.4em;
  font-weight: 300;
}

.hover-cicle {
  position: absolute;
  opacity: 0;
  margin: -71px auto;
  padding: 10px;
  z-index: 2;
  width: 111px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  height: 42px;
  text-align: center;
  font-size: 11px;
}

mat-toolbar-row:hover>.hover-cicle {
  opacity: 1;
  color: #fff;
  background-color: rgba(16, 16, 16, 0.72);
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

mat-icon.mat-icon {
  float: left;
  margin-left: 5px;
  margin-top: 3px;
}

.hidden {
  display: none;
}
