<ul class="list-optional-products">
    <ng-template ngFor let-optionalProductIndex=index let-optionalProduct [ngForOf]="optional_products.controls">
        <li [formGroup]="optionalProduct">
            <div class="container-check-product">
                <app-checkout-mat-checked-dynamic (emitCheckProduct)="checkProduct($event)" [invitation]="invit"
                    [formGroupProduct]="optionalProduct" [idProduct]="optionalProduct.get('id').value">
                </app-checkout-mat-checked-dynamic>
            </div>
            <div class="container-product">
                <section class="img-product">
                    <ng-template [ngIf]="optionalProduct.get('percent_off').value">
                        <span class="percent-off">
                            <mat-icon>arrow_downward</mat-icon> - {{ (optionalProduct.get('percent_off').value / 100 ) | percent }}
                        </span>
                    </ng-template>
                    <ng-template [ngIf]="optionalProduct.get('discount_picture').value">
                        <span class="discount-picture"><img
                            src="{{ optionalProduct.get('discount_picture').value  }}" /></span>
                    </ng-template>
                    <img
                        src="{{ optionalProduct.get('thumb').value  }}" />
                </section>
                <div class="container-description-product">
                    <div>
                        <section class="name-product">{{ optionalProduct.get('name').value  }}</section>
                        <section class="description-product">{{ optionalProduct.get('description').value }}</section>
                    </div>
                    <div class="price-product">
                        <ng-template [ngIf]="optionalProduct.get('discount_amount').value">
                            <section class="original-price">
                                {{ optionalProduct.get('price').value | currency:'BRL':true }}
                            </section>
                            <section class="current-price">
                                {{ (optionalProduct.get('price').value - optionalProduct.get('discount_amount').value) | currency:'BRL':true }}
                            </section>
                        </ng-template>
                        <ng-template [ngIf]="!optionalProduct.get('discount_amount').value">
                            <section class="original-price"></section>
                            <section class="current-price">
                                {{ optionalProduct.get('price').value | currency:'BRL':true }}
                            </section>
                        </ng-template>
                    </div>
                    <div class="product-attribute">
                        <section class="title">Selecione o modelo</section>
                        <ng-template ngFor let-attributesIndex=index let-attributes [ngForOf]="optionalProduct.get('attributes').controls">
                            <div [formGroup]="attributes" class="container-product_inner-attributes">
                                <app-checkout-dynamic-attributes-product (setValueAttribute)="getValueAttribute($event)" [attributes]="attributes" [reference]="{id_product: optionalProduct.get('id').value, index_product: optionalProductIndex}"></app-checkout-dynamic-attributes-product>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </li>
    </ng-template>
</ul>