h1 {
    margin: 25px 0;
}

.checkout-title {
    display: inline-flex;
    margin-bottom: 20px;
}

.checkout-title .mat-icon {
    color: rgba(214, 210, 210, 1);
}

.checkout-title section {
    font-size: 1.17em;
    font-weight: 500;
    color: rgba(214, 210, 210, 1);
    margin-left: 6px;
}

.user-identification {
    min-height: 300px;
}

.confirm-step {
    width: 100%;
    margin: 0 auto;
    text-align: right;
}

.confirm-step button {
    color: #fff;
    background-color: #58C22E;
}

.register-step {
    width: 100%;
    margin: 0 auto;
    text-align: right;
}

.register-step button {
    color: #fff;
    background-color: #294a8e;
}

.not-costumer, .costumer {
    display: table;
    width: 46%;
    float: left;
    padding: 2px;
    margin: 0 5px 0 5px;
}

.not-costumer.full_width {
    display: table;
    width: 100%;
    float: left;
    padding: 2px;
    margin: 0 5px 0 5px;
}

/* ARROWBACK */

.register-user--cotainer_arrow-icon {
    display: flex;
    justify-content: flex-end;
}

.arrowBack-icon {
    color: #3f51b5;
    margin-right: 8px;
}

.arrowBack-icon:hover {
    cursor: pointer;
}

/*  ****/

.divider {
    float: left;
    height: 300px;
    width: 2%;
    border-left: 1px solid #E5E5E5;
}

.costumer h1, .not-costumer h1 {
    font-size: 1.17em;
    font-weight: 500;
    margin-left: 6px;
}

.sec-validate-new-costumer {
    width: 85%;
    display: table;
}

.mail-new-costumer {
    width: 100%;
}

.mail-new-costumer .mat-icon {
    vertical-align: bottom;
    margin-right: 10px;
}

.info-new-costumer {
    width: 90%;
    font-size: 12px;
    margin-top: 15px;
    padding: 5px;
    color: #737373;
}

.social-title {
    font-size: 12px;
    margin-top: 15px;
    padding: 5px;
    color: #737373;
}

.social-buttons {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
}

.social-buttons>span {
    padding: 6px;
    border-radius: 5px;
}

.social-buttons .facebook {
    color: #fff;
    background: #4267b2;
    text-align: center;
    padding: 10px;
    width: 45%;
}

.social-buttons .facebook:hover {
    cursor: pointer;
    background: #294a8e;
}

.icon-facebook {
    background-image: url('src/assets/icons/facebook.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: sub;
    margin-right: 8px;
}

.social-buttons .google {
    background: #f2f2f2;
    text-align: center;
    padding: 10px;
    width: 45%;
}

.social-buttons .google:hover {
    cursor: pointer;
    background: #eae8e8;
}

.icon-google {
    background-image: url('src/assets/icons/google.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: sub;
    margin-right: 8px;
}

.login-costumer .mat-form-field {
    width: 100%;
}

.login-costumer .mat-icon {
    vertical-align: bottom;
    margin-right: 10px;
}

.forgot-password {
    display: table;
    width: 100%;
    text-align: right;
    margin-top: 15px;
}

.forgot-password a {
    text-decoration: none;
    color: #969696;
}

.forgot-password a:hover {
    color: #4267b2;
}

.show-password {
    cursor: pointer;
    color: #dcdcdc;
}

.show-password:hover {
    color: #bbb;
}

/* REGISTER-USER */

.register-user {
    position: relative;
    width: 100%;
    height: 100%;
}

.register-user__inputs-first-row {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.register-user--inputs-second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.register-user__CPF, .register-user__gender {
    width: 47%;
}

.register-user__inputs-third-row {
    display: flex;
    flex-direction: column;
}

.register-user__date {
    padding: 0 10px;
}

.register-user__inputs-fourth-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.register-user__password, .register-user__confirm-password {
    width: 47%;
}

/* BUTTON */

.register-user__container--button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%,
}

.register-user__button.enabled {
    border-radius: 5px;
    margin-bottom: 0.7rem;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 205, 54);
    outline: none;
    border: 1px solid transparent;
    color: #fff;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}

.register-user__button.enabled:hover, .register-user__button.enabled:active {
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.register-user__button.disabled {
    border-radius: 5px;
    margin-bottom: 0.7rem;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(142, 140, 135);
    outline: none;
    border: 1px solid transparent;
    color: #fff;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}

.show-password:hover, .show-password:active {
    cursor: pointer;
}

/* LOGIN BUTTON */

.container-forgot-pass {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.container-login-btn, .container-signup-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.btn-login.enabled, .signup-btn.enabled {
    width: 40%;
    border-radius: 4px;
    height: 40px;
    background-color: rgb(255, 205, 54);
    outline: none;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 700;
    margin: 10px 0 10px 0;
    transition: all 0.1s ease-in-out;
}

.btn-login.enabled:hover, .signup-btn.enabled:hover {
    background: rgb(255, 205, 54);
    cursor: pointer;
    transform: translateY(1px);
    box-shadow: 1px 2px 5px rgba(103, 77, 77, 0.3);
}

.btn-login.disabled, .signup-btn.disabled {
    background: rgb(179, 177, 171);
    width: 40%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 700;
    margin: 10px 0 10px 0;
}

.link-forgotten-pass {
    text-decoration: none;
    font-size: 0.8em;
}

.link-forgotten-pass:hover,
.link-forgotten-pass:active {
    cursor: pointer;
    color: #3f51b5;
}

.login-page--recovery-password {
    margin-bottom: 25px;
}

/* ANIMATIONS */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(-5px);
    }
}

.bounce {
    animation: bounce 2s infinite;
}

/* PASSWORD REC CONTAINER */

.password__rec_container {
    position: relative;
    width: 100%;
}

.password__rec_container_inner {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.recoveryForm {
    display: flex;
    flex-direction: column;
}

.password__rec_button.enabled {
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 205, 54);
    color: white;
    padding: 10px 20px;
}

.password__rec_button.enabled:hover, .password__rec_button.enabled:active {
    cursor: pointer;
    background-color: rgb(255, 205, 54);
    transform: translatey(1px);
    box-shadow: 1px 1px 3px rgba(103, 77, 77, 0.3);
}

.password__rec_button.disabled {
    font-weight: bold;
    outline: none;
    background: rgb(179, 177, 171);
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    transition: all 0.1s ease-in-out;
}

.password__rec_span {
    margin-bottom: 30px;
}

.arrowBack-icon {
    margin-bottom: 20px;
}

/* Largura do input de e-mail */

::ng-deep .mat-form-field-infix {
    width: 300px;
}

/* Margin do Label */

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    margin-left: 12px;
}

::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    margin-bottom: 5px;
}

/* MENSAGEM DE CONFIRMAÇÃO DE ENVIO DE E-MAIL PARA RECUPERAÇÂO DE SENHA */

.confirm-reset__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-reset__innercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm-reset__innercontainer span {
    margin-bottom: 40px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(255, 205, 54);
}