/* Angular Material */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i');

body {
    margin: 0;
    font-family: "Roboto","sans-serif";
}

.content app-home {
    width: 100%;
}

.align-center {
    margin: 0 auto;
}

.top-27 {
    margin-top: 27px;
}

.top-7 {
    margin-top: 7px;
}

app-events {
    width: 100%;
}

app-filter-events {
    display: table;
    height: 47px;
    width: 80%;
    min-height: 75px;
    margin-top: -75px;
    background: #fff;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 3px 5px -1px rgba(255,255,255,.2), 0 6px 10px 0 rgba(255,255,255,.10), 0 1px 18px 0 rgba(0,0,0,.12);
    transition: all .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    margin-top: 2px;
}

app-filter-events.expand {
    transform: scale(1.1);
}

.mat-form-field-wrapper .mat-form-field-flex {
    width: 100% !important;
}