<section class="support">
    <section class="support-title">
        <h1>MILHARES DE PRODUTORES USAM A NOSSA PLATAFORMA</h1>
        <h2>CONHEÇA ALGUNS DE PATROCINADORES</h2>
    </section>
    <section class="support-content">
        <ng-template ngFor let-support [ngForOf]="supportList">
            <img src="{{ support.img }}" />
        </ng-template>
    </section>
    <section class="support-footer-title">
        <h1><strong>EPTV TICKET</strong> é para todo tipo de evento. Em todo o Brasil!</h1>
    </section>
</section>